<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="icon" type="image/png" href="">
    <meta name="description" content="">
</head>
<body>
<header class="header">
    <div class="header-logo">
        <img src="header/logo.svg" alt="logo">
    </div>
    <ul class="header-nav">
        <li><a href="#" class="nav-active">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Our Project</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">简体中文</a></li>
    </ul>
</header>
</body>
</html>