.banner {
  margin: 40px 0 50px;
  padding: 0 5%;
  box-sizing: border-box;
  &__content {
    display: flex;
    justify-content: space-between;
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      position: relative;
      flex: 1;
      height: 450px;
      & .banner-shadow {
        position: absolute;
        width: 500px;
        height: 1233.79px;
        left: -280px;
        top: -1000px;
        background: linear-gradient(180deg, rgba(251, 168, 28, 0.16) 0%, rgba(84, 84, 212, 0.336) 100%);
        filter: blur(150px);
        border-radius: 233.5px;
        transform: rotate(-28.02deg);
        z-index: -1;
      }
      & .banner-title {
        width: 80%;
        margin-bottom: 3%;
        font-style: italic;
        font-weight: 600;
        font-size: 80px;
        line-height: 84px;
        color: #FFF;
        & span {
          color: #FE9701;
        }
      }
      & .banner-description {
        width: 420px;
        height: 80px;
        font-size: 21px;
        line-height: 39px;
        letter-spacing: -0.656526px;
        color: #F69306;
        & span {
          color: rgba(255,255,255,0.7);
        }
      }
      & .banner-btn {
        position: relative;
        margin-top: 70px;
        & a {
          padding: 22px 40px;
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          background: #F69306;
          border-radius: 4px;
        }

      }
    }

    &-image {
      box-sizing: border-box;
      position: relative;
      flex: 0.5;
      @media screen and (max-width: 1745px){
        flex: 0.6;
      }
      @media screen and (max-width: 1565px){
        flex: 0.7;
      }
      @media screen and (max-width: 1430px){
        flex: 0.8;
      }
      @media screen and (max-width: 1430px){
        flex: 0.9;
      }
      & .icon-goMarket {
        z-index: -2;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 120px;
        animation: spin infinite 10s linear ;
      }
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      & .double-circle {
        position: absolute;
        right: 0;
        top: 0;
      }
      & .double-square {
        position: absolute;
        width: 480px;
        right: -1vw;
      }

    }
  }
}

@media screen and (max-width: 1335px){
  .banner__content-image .double-triangle {
    left: -50px;
  }
}

@media screen and (max-width: 1275px){
  .banner__content-text .banner-title {
    font-size: 70px;
  }
}

@media screen and (max-width: 1250px){
  .banner__content-image .double-triangle {
    left: -100px;
  }
}

@media screen and (max-width: 1200px){
  .banner {
    margin-bottom: 80px;
  }
  .banner__content-text {
    height: 400px;
  }
  .banner__content-text .banner-title {
    font-size: 60px;
  }
  .banner__content-text .icon-goMarket {
    width: 140px;
  }
  .banner__content-image .double-square {
    width: 400px;
    right: 10px;
  }
  .banner__content-image .double-triangle {
    left: 50px;
    bottom: 0;
  }
}

@media screen and (max-width: 1150px){
  .banner__content-image .double-triangle {
    left: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 1000px){
  .banner__content-image .double-circle {
    display: none;
  }
  .banner__content-image .double-triangle {
    display: none;
  }
  .banner__content-image .icon-goMarket {
    display: none;
  }
  .banner__content-text {
    margin-top: 40px;
    justify-content: flex-start;
    height: 280px;
  }
}

@media screen and (max-width: 1030px){
  .banner__content-text .banner-title {
    font-size: 42px;
    line-height: 54px;
  }
  .banner__content-text .banner-description {
    font-size: 18px;
    line-height: 30px;
  }
  .banner__content-text .banner-btn {
    margin-top: 40px;
  }
  .banner__content-image .double-square {
    width: 300px;
  }
  .banner {
    margin-bottom: 10px;
    .banner-btn a {
      padding: 18px 30px;
    }
    .icon-goMarket {
      width: 120px;
    }
  }
}

@media screen and (max-width: 800px){
  .banner__content-text .banner-description {
    width: 340px;
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (max-width: 740px){
  .banner__content-text .banner-title {
    font-size: 32px;
    line-height: 40px;
  }
  .banner__content-text .banner-description {
    width: 300px;
    font-size: 14px;
    line-height: 22px;
  }
  .banner__content-text .banner-btn {
    margin-top: 30px;
  }
  .banner__content-image .double-square {
    width: 260px;
  }
  .banner {
    margin-bottom: 0;
    .banner-btn a {
      padding: 18px 30px;
    }
    .icon-goMarket {
      width: 120px;
    }
  }
}

@media screen and (max-width: 650px){
  .banner__content-text .banner-title {
    font-size: 32px;
    line-height: 40px;
  }
  .banner__content-text .banner-description {
    width: 260px;
    font-size: 13px;
    line-height: 22px;
  }
  .banner__content-text .banner-btn {
    margin-top: 20px;
  }
  .banner__content-image .double-square {
    width: 240px;
  }
  .banner {
    margin-bottom: 0;
    .banner-btn a {
      padding: 18px 30px;
    }
    .icon-goMarket {
      width: 120px;
    }
  }
}

@media screen and (max-width: 430px){
  .banner__content-text .banner-title {
    width: 360px;
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .banner__content-text .banner-description {
    width: 340px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
  }
  .banner__content-text .banner-btn {
    margin-top: 20px;
  }

  .banner {
    margin: 0 5px 40px;
    height: 280px;
    &__content {
      display: flex;
      flex-direction: column;
      gap: 180px;
    }
    .banner-btn a {
      padding: 18px 30px;
    }
    .icon-goMarket {
      width: 120px;
    }
  }
  .banner__content-image {
    display: none;
  }
  .piao {
    display: none;
  }
}