.double-circle {
  width: 22px;
  height: 22px;
  position: relative;
}

.thick-circle {
  animation: thick-circle 6s linear infinite;
  @media screen and (max-width: 430px) {
    width: 32px;
    height: 32px;
  }
}

.thin-circle {
  position: absolute;
  left: -25px;
  top: 20px;
  animation: thin-circle 6s linear infinite;
  @media screen and (max-width: 430px) {
    width: 32px;
    height: 32px;
    left: -18px;
    top: 16px;
  }
}

@keyframes thick-circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes thin-circle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}