//double triangle
.double-triangle {
  position: relative;
}

@keyframes thick-triangle {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes thin-triangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thick-triangle {
  width: 60px;
  height: 60px;
  transform-origin: 22px 30px;
  animation: thick-triangle infinite 10s linear ;
}

.thin-triangle {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 22px 30px;
  animation: thin-triangle infinite 6s linear ;
}


