.footer {
  margin-top: 100px;
  width: 100%;
  padding: 0 7%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-logo {
    & img {
      width: 110px;
      height: 50px;
    }
  }
  &-nav {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    & li a {
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
    }
    & li:nth-child(3) {
      margin-right: 14px;
    }
  }
  &-copyright {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (max-width: 1460px){
  .footer-nav {
    & li a {
      font-size: 14px;
    }
    gap: 15px;
    }

}

@media screen and (max-width: 1000px){
  .footer {
    gap: 20px;
    flex-direction: column;
    &-nav {
      justify-content: center;
      flex-wrap: wrap;

    }
  }

}