.footer {
  margin-top: 100px;
  width: 100%;
  @media screen and (max-width: 1400px) {
    width: 88%;
  }
  box-sizing: border-box;
  padding: 0 190px 0 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-logo {
    & img {
      width: 300px;
      height: 200px;
    }
  }
  &-nav {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    & li a {
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
    }
    & li:nth-child(3) {
      margin-right: 14px;
    }
  }
}