.header {
  width: 100%;
  @media screen and (max-width: 1400px) {
    width: 88%;
  }
  box-sizing: border-box;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  &-logo {
    & img {
      width: 150px;
      height: 150px;
    }
  }
  &-nav {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    & .nav-active {
      font-weight: 800;
      letter-spacing: -0.500211px;
      color: #F69306;
    }
    & li {
      padding-top: 50px;
    }
    & li a {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.7);
    }
    & li:nth-child(4) {
      margin-right: 14px;
    }
  }
}