.header {
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 14vh;

  &-logo {
    height: 100%;

    & img {
      height: 100%;
    }
  }

  &-menu {
    display: none;
  }

  &-nav {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

    & .nav-active {
      font-weight: 800;
      letter-spacing: -0.500211px;
      color: #F69306;
    }

    & li a {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.7);
    }

    & li:last-child {
      padding: 22px 40px;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      background: #F69306;
      border-radius: 4px;
      & a {
        color: white;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .header-nav {
      gap: 20px;
    }
  }

  @media screen and (max-width: 1140px) {
    .header-menu {
      display: block;
    }
    padding: 0 6%;
    .header {
      display: flex;
      align-items: center;
    }
    &-nav {
      display: none;
    }

    & #hamburger {
      width: 32px;
    }
    & #cancel {
      width: 28px;
      display: none;
    }
  }
}