.header {
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;

  &-logo {
    & img {
      width: 110px;
      height: 50px;
    }
  }

  &-hamburger_icon {
    display: none;
  }

  &-nav {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    & .nav-active {
      font-weight: 800;
      letter-spacing: -0.500211px;
      color: #F69306;
    }
    & li a {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.7);
    }
    & li:nth-child(4) {
      margin-right: 14px;
    }
  }

  @media screen and (max-width: 962px) {
    &-nav {
      gap: 20px;
      & li:nth-child(4) {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: 800px) {
    padding: 0 6%;
    &-logo {
      & img {
        width: 90px;
        height: 40px;
      }
    }
    &-nav {
      display: none;
    }
    &-hamburger_icon {
      display: block;
    }
  }
}