.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img {
    width: 8vw;
    height: 10vh;
    margin-left: 1vw;
  }
  & button {
    background-color: #00a6ef;
    border: none;
    width: 10vw;
    color: #fff;
    font-size: 1rem;
    padding: 5vh 0;
    &:hover {
      cursor: pointer;
    }
  }
}