.info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 430px) {
    margin-bottom: 8vh;
    //border: 1px solid red;
  }
  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    margin-bottom: 60px;
    @media screen and (max-width: 430px) {
      font-size: 40px;
      margin-bottom: 30px;
    }
  }
  &-form {
    width: 90%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 75px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;

    & .info-details {
      box-sizing: border-box;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 960px) {
        padding: 5vh 5vw 0;
      }
      @media screen and (max-width: 430px) {
        padding-top: 30px;
      }
      gap: 20px;
      & input {
        width: 20vw;
        height: 58px;
        border-radius: 8px;
        background-color: #6c6c6d;
        border: none;
        outline: none;
        color: white;
        font-size: 18px;
        padding-left: 30px;
        @media screen and (max-width: 960px) {
          width: 75vw;
        }
        @media screen and (max-width: 430px) {
          width: 70vw;
        }
        &::placeholder {
          color: white;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }

    & .info-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 80px 50px;
      flex: 2;
      @media screen and (max-width: 960px) {
        padding: 5vh 5vw 8vh;
      }
      & textarea {
        width: 100%;
        height: 116px;
        border-radius: 8px;
        background-color: #6c6c6d;
        resize: none;
        outline: none;
        color: white;
        font-size: 18px;
        font-weight: normal;
        padding: 20px 30px;
        &::placeholder {
          color: white;
          font-size: 18px;
          font-weight: normal;
        }
      }
      & p {
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 30px;
        margin: 20px 0;
        & a {
          text-decoration: underline;
        }
      }
      & .info-btn {
        width: 100%;
        padding: 20px;
        background: #FE9701;
        border-radius: 5px;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 29px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .info .info-form {
    flex-direction: column;
  }
}

