.logos {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  img {
    width: 90vw;
  }

  &-shadow {
    position: absolute;
    top: 40px;
    right: -260px;
    width: 599.58px;
    height: 652.85px;
    background: linear-gradient(180deg, rgba(84, 84, 212, 0.2) 0%, rgba(84, 84, 212, 0.084) 100%);
    filter: blur(150px);
    border-radius: 233.5px;
    transform: matrix(-0.58, -0.81, -0.81, 0.58, 0, 0);
  }
}
