#extended-menu {
  width: 100vw;
  padding: 2vh 5vw 10vh;
  height: auto;
  z-index: 99;
  position: relative;
  left: 100vw;
  display: none;
}

.menu-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  & li {
    font-size: 24px;
  }
}

#menu-services {
  padding-left: 2vw;
  gap: 3vh;
  display: none;
  flex-direction: column;
}

.menu-btn {
  width: 160px;
  border-radius: 8px;
  border: none;
  background-color: #F69306;
  padding: 16px 0;
}

.services-child-menu {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;

  & #drop-down {
    width: 32px;
  }
  & #drop-up {
    width: 32px;
    display: none;
  }
}

.active {
  transform: translateX(-100vw);
}