.nav-bar {
  box-sizing: border-box;
  background-color: #354a60;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .nav {
    overflow: hidden;
    height: 6vh;
    list-style: none;
    display: flex;
    gap: 3vw;
    & li {
      box-sizing: border-box;
      padding: 2vh;
      height: 100%;
      & a {
        text-decoration: none;
        color: #fff;
      }
    }
    & .active {
      position: relative;
    }
    & .active::after {
      content: "";
      width: 100%;
      height: 0.5vh;
      border-radius: 8px;
      background-color: white;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  & button {
    color: #fff;
    background-color: transparent;
    border: none;
    margin-right: 4vh;
    &:hover {
      cursor: pointer;
    }
  }
}