.wrap {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrap .double-circle {
  position: absolute;
  left: 0;
  top: 60px;
}

.cards_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cards_wrap .card_item {
  flex-basis: 30%;
  padding: 25px 20px;
}

.cards_wrap .card_inner {
  border-radius: 6px;
  padding: 20px 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards_wrap .card_inner:hover {
  background: rgba(255, 255, 255, 0.03);
}

.card_inner .imgDiv {
  width: 85%;
  margin: auto;
}

.card_inner img {
  width: 100%;
}

.card_inner .content {
  margin: 15px 15px;
}

.card_inner .cardHeader {
  font-size: 28px;
  margin: 1rem 0;
  font-family: "Readex Pro", sans-serif;
  font-weight: 700;
  color: white;
}

.card_inner .date {
  font-size: 20px;
  font-family: "Readex Pro", sans-serif;
  color: #888888;
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.card_inner .insightsText {
  font-size: 20px;
  font-family: "Readex Pro", sans-serif;
  color: #888888;
  font-weight: 200;
  line-height: 28px;
}

h2 {
  margin-top: 80px;
  padding-left: 25px;
  font-size: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #f69306;
  margin-bottom: 30px;
}

.bubbleDeco {
  position: absolute;
  left: 100px;
  top: 40px;
}

/* web sizes & above */
@media screen and (min-width: 1442px) {
  /* waiting for modification */
}

/* for ipad screens */
/* 768px - 1024 */
@media only screen and (max-width: 1024px) and (min-width: 415px) {
  .cards_wrap {
    width: 100%;
  }
  .cards_wrap .card_inner {
    padding: 20px 5px;
    width: 270px;
  }
  .cards_wrap .card_item {
    padding: 20px 10px;
  }
}

/* phone sizes */
@media only screen and (max-width: 414px) {
  .cards_wrap {
    width: 100%;
  }
  .cards_wrap .card_inner {
    padding: 20px 5px;
    width: 250px;
  }
  .cards_wrap .card_item {
    padding: 20px 15px;
  }

  /* responsive text sizes */
  .card_inner .cardHeader {
    font-size: 20px;
  }

  .card_inner .date {
    font-size: 16px;
  }

  .card_inner .insightsText {
    font-size: 16px;
    line-height: 24px;
  }
}