.ourInsightWrap {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 430px) {
    margin-bottom: 8vh;
    //border: 1px solid red;
  }
}

.ourInsightWrap .double-circle {
  position: absolute;
  left: -30px;
}

.ourInsightCards_wrap {
  display: flex;
  gap: 3.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px;
  @media screen and (max-width: 430px) {
    margin-bottom: 0;
  }
}

.ourInsightCards_wrap .card_item {
  flex-basis: 35%;
  max-width: 400px;
  width: 100%;
  background-color: #19191b;
  border-radius: 5px;
  transition: all 0.3s;
}

.ourInsightCards_wrap .ourInsightCard_inner {
  flex-basis: 35%;
  border-radius: 6px;
  padding: 20px 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourInsightCards_wrap .ourInsightCard_inner:hover {
  background: rgba(255, 255, 255, 0.03);
}

.ourInsightCard_inner .imgDiv {
  width: 85%;
  margin: auto;
}

.ourInsightCard_inner img {
  width: 100%;
}

.ourInsightCard_inner.content {
  margin: 15px 15px;
}

.ourInsightCard_inner .cardHeader {
  font-size: 28px;
  margin: 1rem 0;
  font-weight: 600;
  color: white;
}

.ourInsightCard_inner .date {
  font-size: 20px;
  color: #888888;
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.ourInsightCard_inner .insightsText {
  font-size: 20px;
  color: #888888;
  font-weight: 200;
  line-height: 28px;
}

.ourInsightWrap h2 {
  margin-top: 80px;
  padding-left: 25px;
  font-size: 50px;
  font-weight: 600;
  font-style: italic;
  color: #f69306;
  margin-bottom: 30px;
}

/* web sizes & above */
@media screen and (min-width: 1442px) {
  .ourInsightWrap {
    width: 1442px;
  }
}

@media screen and (max-width: 1442px) {
  .ourInsightCards_wrap {
    justify-content: center;
  }
}

