.team-wrap {
  padding:8vh 10vw 0;
  width: 100%;
}

.ourTeamBox {
  display: flex;
  flex-direction: column;
}

.rowBox {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  margin-bottom: 5%;
}

.imgBox {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 45%;
}

h2 {
  font-size: 50px;
  font-family: "Nunito Sans", sans-serif;
  color: #f69306;
  margin-bottom: 80px;
}

.subHeader {
  font-size: 45px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  color: white;
}

p {
  font-size: 23px;
  line-height: 32px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  color: white;
  margin: 0.5rem 0 50px;
}

@media screen and (max-width: 1200px) {
  .ourTeamBox .content {
    width: 80%;
  }
}