.swiper {
  width: 94%;
  min-height: 60vh;
  margin-top: 10vh;
  margin-bottom: 100px;
}

.swiper-slide {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 6px;

  & p {
    min-height: 200px;
    font-weight: 400;
    font-size: 1vw;
    line-height: 34px;
    text-align: center;
    margin-bottom: 3vh;
    @media screen and (max-width: 960px) {
      font-size: 1.8vw;
    }
    @media screen and (max-width: 430px) {
      font-size: 3.4vw;
    }
  }

  & .stars {
    display: flex;
    gap: 8.33px;
    margin-bottom: 3vh;
  }

  & .star {
    width: 16px;
    height: 16px;
  }

  & .scroll-avatar {
    width: 50px;
    height: 50px;
    margin-bottom: 3vh;
  }

  & h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 2vh;
  }

  & h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.swiper-pagination-bullet-active {
  color: white;
}

//@media screen and (max-width: 960px) {
//  .swiper {
//    height: 67vh;
//  }
//}
