// removed body copied from Xiaofangzong

.swiper {
  width: 100vw;
  display: flex;
  gap: 10px;
  justify-content: center;
  //padding: 0 5vw;
}

.scroll-wrapper {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  width: 30vw;
}

.swiper-slide {
  border: 1px solid red;
  display: flex;
  flex-direction: column;

  & .star {
    border: 1px solid blue;
    width: 42px;
    height: 42px;
  }

}

.stars {
  width: 400px;
  background-color: red;
}

.scroll-avatar {
  width: 80px;
}

.scroll-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  & p {
    width: 400px;
  }
}