@import "header";
@import "banner";
@import "services&cases";
@import "logos";
@import "ourTeam";
@import "ourInsights";
@import "info";
@import "footer";

@import "scroll";

body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #19191B;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.secondary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}