@import "header";
@import "banner";
@import "services&cases";
@import "logos";
@import "ourTeam";
@import "ourInsights";
@import "info";
@import "footer";
@import "scroll";

body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #19191B;
  cursor: url("../images/cursor.gif"), auto;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  overflow-x: hidden;
}

.double-triangle {
  width: 90px;
  height: 90px;
}

.double-circle {
  width: 50px;
  height: 60px;
}