.header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .header {
    width: 88%;
  }
}
.header-logo img {
  width: 150px;
  height: 150px;
}
.header-nav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.header-nav .nav-active {
  font-weight: 800;
  letter-spacing: -0.500211px;
  color: #F69306;
}
.header-nav li {
  padding-top: 50px;
}
.header-nav li a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.header-nav li:nth-child(4) {
  margin-right: 14px;
}

.banner {
  margin-top: 40px;
  width: 98%;
  padding: 0 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 1400px) {
  .banner {
    width: 88%;
  }
}
.banner__content {
  display: flex;
}
.banner__content-text {
  position: relative;
  width: 50%;
  height: 500px;
  font-family: "Nunito Sans", sans-serif;
}
.banner__content-text .banner-shadow {
  position: absolute;
  width: 500px;
  height: 1233.79px;
  left: -280px;
  top: -1000px;
  background: linear-gradient(180deg, rgba(251, 168, 28, 0.16) 0%, rgba(84, 84, 212, 0.336) 100%);
  filter: blur(150px);
  border-radius: 233.5px;
  transform: rotate(-28.02deg);
}
.banner__content-text .banner-title {
  width: 520px;
  height: 176px;
  font-weight: 600;
  font-size: 80px;
  line-height: 84px;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .banner__content-text .banner-title {
    font-size: 50px;
    line-height: normal;
  }
}
.banner__content-text .banner-title span {
  color: #FE9701;
}
.banner__content-text .banner-description {
  width: 420px;
  height: 80px;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.656526px;
  color: #F69306;
}
.banner__content-text .banner-description span {
  color: rgba(255, 255, 255, 0.7);
}
.banner__content-text .banner-btn {
  margin-top: 70px;
}
.banner__content-text .banner-btn a {
  padding: 22px 40px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  background: #F69306;
  border-radius: 4px;
}
.banner__content-text .icon-goMarket {
  z-index: -2;
  position: absolute;
  left: 140px;
  bottom: 20px;
}
.banner__content-text .icon-triangle {
  position: absolute;
  right: 0;
}
.banner__content-image {
  width: 40%;
}
.banner__content .btn-arrow {
  width: 12px;
  height: 12px;
}
.banner__content .icon-goMarket {
  width: 146px;
  height: 145px;
}
.banner__content .icon-triangle {
  width: 94px;
  height: 94px;
}
.banner__content-image {
  width: 100%;
  position: relative;
}
.banner__content-image .icon-circle {
  position: absolute;
  width: 60px;
  height: 70px;
  right: 0;
}
.banner__content-image .icon-square {
  position: absolute;
  width: 620px;
  height: 620px;
  right: -40px;
  bottom: -80px;
}
.banner__streamer {
  position: relative;
  margin: 100px 0;
}
.banner__streamer #streamer {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito sans";
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
}

.section__services {
  background-color: #19191b;
  position: relative;
}

.title--long {
  display: none;
}

.services {
  padding: 60px 200px;
}

.triangle {
  position: absolute;
  left: 100px;
}

.cross {
  position: absolute;
  left: 90px;
  bottom: 50px;
}

.blur {
  position: absolute;
  left: 0px;
  top: 400px;
  display: inline;
  z-index: 1;
  pointer-events: none;
}

.ten--services-top, .ten--services-bottom {
  display: none;
}

.services__title {
  text-align: center;
}
.services__title h2 {
  font-family: "Readex pro", "sans-serif";
  font-size: 50px;
  color: #F69306;
  margin-bottom: 49px;
}

.services__cards {
  display: flex;
  gap: 3.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.card {
  max-width: 380px;
  width: 100%;
  height: 298px;
  background-color: #19191b;
  border-radius: 5px;
  transition: all 0.3s;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.031372549);
}

.card__wrapper {
  margin: 40px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card__wrapper h3 {
  font-weight: 600;
}

.icon {
  font-size: 69px;
  margin-bottom: 20px;
}

.card__text {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6980392157);
  margin-top: 20px;
}

.circle {
  position: absolute;
  top: 100px;
  right: 200px;
}

.section__cases {
  width: 100%;
  background-color: #19191b;
  position: relative;
}

.cases {
  padding: 60px 200px;
}

.cases__title h2 {
  font-family: "Nunito sans", "sans-serif";
  font-weight: 800;
  font-size: 50px;
  color: #F69306;
  margin-bottom: 49px;
}

.container {
  position: relative;
}

.slide--1 {
  position: relative;
}

.slide--2 {
  position: relative;
}

.slide--3 {
  position: relative;
}

.img-card {
  height: 301px;
  width: 384px;
}

.img--top {
  position: absolute;
  top: 0;
  left: 0;
}

.img--middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img--bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* SLIDER */
.slider {
  border: 1px solid transparent;
  border-radius: 20px;
  transition: 0.3s;
  max-width: 100rem;
  height: 32rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}
.slider:hover {
  box-shadow: 0px 11px 21px 3px rgba(0, 0, 0, 0.1);
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  opacity: 0;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 0.1rem;
  width: 0.1rem;
  font-size: 3.25rem;
  cursor: pointer;
}
.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dots__dot {
  border: none;
  background-color: #121213;
  opacity: 0.7;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  margin-right: 0.9rem;
  cursor: pointer;
  transition: all 0.5s;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}
.dots__dot:last-child {
  margin: 0;
}
.dots__dot--active {
  /* background-color: #fff; */
  background-color: #5454D4;
  width: 1.5rem;
  border-radius: 10px;
  opacity: 1;
}

/**********************************************************************************/
/*media
/*********************************************************************************/
@media (max-width: 1700px) {
  .services {
    padding: 60px 100px;
  }
}
/**********************************************************************************/
/*media below 1456px(smaller laptop)*/
/*********************************************************************************/
@media (max-width: 1456px) {
  .services__cards {
    margin-bottom: 150px;
    gap: 1.5rem;
  }
  .card {
    max-width: 350px;
    height: 278px;
  }
  .card__wrapper h3 {
    font-weight: 600;
    font-size: 26px;
  }
  .card__text {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6980392157);
    margin-top: 20px;
  }
  .services__title h2 {
    font-size: 45px;
  }
  .cases {
    padding: 60px 50px;
  }
}
.cases__title h2 {
  font-size: 45px;
}

/**********************************************************************************/
/*media below 1300px(smaller laptop)*/
/*********************************************************************************/
@media (max-width: 1300px) {
  .services__cards {
    margin-bottom: 140px;
    gap: 0.5rem;
  }
  .card {
    max-width: 330px;
    height: 265px;
  }
  .card__text {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6980392157);
    margin-top: 20px;
  }
  .card__wrapper h3 {
    font-weight: 600;
    font-size: 24px;
  }
  .services__title h2 {
    font-size: 40px;
  }
  .cases {
    padding: 60px 50px;
  }
  .img-card {
    height: 275px;
    width: 344px;
  }
}
/**********************************************************************************/
/*media below 700px(smaller laptop)*/
/*********************************************************************************/
@media (max-width: 700px) {
  .blur {
    display: none;
  }
  .circle {
    right: 40px;
  }
  .triangle {
    position: absolute;
    top: 0;
    left: 30px;
  }
  .services__cards {
    margin-bottom: 140px;
    gap: 1.5rem;
  }
  .services {
    padding: 60px 10px;
  }
  .card {
    max-width: 300px;
    height: 268px;
  }
  .card__text {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6980392157);
    margin-top: 10px;
    line-height: 20px;
  }
  .icon {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .card__wrapper h3 {
    font-weight: 600;
    font-size: 20px;
  }
  .services__title h2 {
    font-size: 40px;
  }
  .cases {
    padding: 60px 10px;
  }
  .img-card {
    height: 245px;
    width: 314px;
  }
  .dots {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }
  .slide {
    height: 96%;
  }
}
/**********************************************************************************/
/*media below 430px(phone)*/
/*********************************************************************************/
@media (max-width: 420px) {
  .services {
    padding-top: 100px;
  }
  .circle {
    right: 20px;
  }
  .triangle {
    left: 0px;
  }
  .cross {
    display: none;
  }
  .ten--services-top {
    display: inline;
    top: 200px;
    right: 10px;
    position: absolute;
  }
  .ten--services-bottom {
    display: inline;
    bottom: 130px;
    left: 20px;
    position: absolute;
  }
  .title--long {
    display: block;
  }
  .title--short {
    display: none;
  }
  .card__text {
    font-weight: 400;
  }
  .dots__dot {
    background-color: #404042;
    opacity: 0.8;
    height: 1rem;
    width: 1rem;
    margin-right: 1.1rem;
  }
  .dots__dot--active {
    background-color: #5454D4;
    width: 1.8rem;
  }
}
.logos {
  position: relative;
}
.logos img {
  width: 100%;
  height: 50vh;
}
.logos-shadow {
  position: absolute;
  top: 40px;
  right: -260px;
  width: 599.58px;
  height: 652.85px;
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.2) 0%, rgba(84, 84, 212, 0.084) 100%);
  filter: blur(150px);
  border-radius: 233.5px;
  transform: matrix(-0.58, -0.81, -0.81, 0.58, 0, 0);
}

.team-wrap {
  padding: 8vh 10vw 0;
  width: 100%;
}

.ourTeamBox {
  display: flex;
  flex-direction: column;
}

.rowBox {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  margin-bottom: 5%;
}

.imgBox {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 45%;
}

h2 {
  font-size: 50px;
  font-family: "Nunito Sans", sans-serif;
  color: #f69306;
  margin-bottom: 80px;
}

.subHeader {
  font-size: 45px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  color: white;
}

p {
  font-size: 23px;
  line-height: 32px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  color: white;
  margin: 0.5rem 0 50px;
}

@media screen and (max-width: 1200px) {
  .ourTeamBox .content {
    width: 80%;
  }
}
.wrap {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.cards_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cards_wrap .card_item {
  padding: 25px 15px;
}

.cards_wrap .card_inner {
  border-radius: 6px;
  padding: 20px 5px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards_wrap .card_inner:hover {
  background: rgba(255, 255, 255, 0.03);
}

.card_inner .imgDiv {
  width: 85%;
  margin: auto;
}

.card_inner img {
  width: 100%;
}

.card_inner .content {
  margin: 15px 15px;
}

.card_inner .card-header {
  font-size: 28px;
  margin: 1rem 0;
  font-family: "Readex Pro", sans-serif;
  font-weight: 700;
  color: white;
}

.card_inner .date {
  font-size: 20px;
  font-family: "Readex Pro", sans-serif;
  color: #888888;
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.card_inner .text {
  font-size: 20px;
  font-family: "Readex Pro", sans-serif;
  color: #888888;
}

h2 {
  padding-left: 25px;
  font-size: 50px;
  font-family: "Nunito Sans", sans-serif;
  color: #f69306;
  margin-bottom: 40px;
}

.info {
  width: 90%;
  padding: 40px;
  max-height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  margin-bottom: 60px;
}
.info-form {
  width: 90%;
  height: 40vh;
  background: rgba(255, 255, 255, 0.2);
  mix-blend-mode: normal;
  box-shadow: 2px 2px 75px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
}
.info-form .info-details {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0 50px 70px;
}
.info-form .info-details input {
  width: 80%;
  height: 5vh;
  border-radius: 8px;
  background-color: #6c6c6d;
  border: none;
  outline: none;
  padding-left: 20px;
  color: white;
  font-size: 18px;
  font-weight: normal;
}
.info-form .info-details input::placeholder {
  color: white;
  font-size: 18px;
  font-weight: normal;
}
.info-form .info-content {
  width: 40vw;
  padding: 50px 0 50px;
}
.info-form .info-content textarea {
  width: 100%;
  height: 116px;
  border-radius: 8px;
  background-color: #6c6c6d;
  resize: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  font-weight: normal;
}
.info-form .info-content textarea::placeholder {
  color: white;
  font-size: 18px;
  font-weight: normal;
}
.info-form .info-content p {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;
  margin: 20px 0;
}
.info-form .info-content p a {
  text-decoration: underline;
}
.info-form .info-content .info-btn {
  width: 100%;
  padding: 20px;
  background: #FE9701;
  border-radius: 5px;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
}

.footer {
  margin-top: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 190px 0 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .footer {
    width: 88%;
  }
}
.footer-logo img {
  width: 300px;
  height: 200px;
}
.footer-nav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.footer-nav li a {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.footer-nav li:nth-child(3) {
  margin-right: 14px;
}

.container {
  margin: 0 auto;
  width: 90vw;
  height: auto;
  display: flex;
  gap: 4vw;
  justify-content: center;
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 212%;
}

.testimonial {
  box-sizing: border-box;
  padding: 40px 30px;
  width: 460px;
  height: 600px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 6px;
}
.testimonial .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.testimonial .profile p, .testimonial .profile h3 {
  margin: 0;
  padding: 0;
}

.testimonial p:first-child {
  margin-bottom: 26.67px;
}

.golden {
  margin-bottom: 27.48px;
  display: flex;
  gap: 8.33px;
  justify-content: center;
  align-items: center;
  color: gold;
}
.golden img {
  width: 16.67px;
  height: 15.85px;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #19191B;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.secondary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
