.header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}
.header-logo img {
  width: 150px;
  height: 150px;
}
.header-nav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.header-nav .nav-active {
  font-weight: 800;
  letter-spacing: -0.500211px;
  color: #F69306;
}
.header-nav li {
  padding-top: 50px;
}
.header-nav li a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.header-nav li:nth-child(4) {
  margin-right: 14px;
}

.banner {
  margin-top: 40px;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
}
.banner__content {
  display: flex;
}
.banner__content-text {
  position: relative;
  width: 50%;
  height: 500px;
  font-family: "Nunito Sans", sans-serif;
}
.banner__content-text .banner-title {
  width: 520px;
  height: 176px;
  font-weight: 600;
  font-size: 80px;
  line-height: 84px;
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .banner__content-text .banner-title {
    font-size: 50px;
    line-height: normal;
  }
}
.banner__content-text .banner-title span {
  color: #FE9701;
}
.banner__content-text .banner-description {
  width: 420px;
  height: 80px;
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.656526px;
  color: #F69306;
}
.banner__content-text .banner-description span {
  color: rgba(255, 255, 255, 0.7);
}
.banner__content-text .banner-btn {
  margin-top: 70px;
}
.banner__content-text .banner-btn a {
  padding: 22px 40px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  background: #F69306;
  border-radius: 4px;
}
.banner__content-text .icon-goMarket {
  z-index: -2;
  position: absolute;
  left: 140px;
  bottom: 20px;
}
.banner__content-text .icon-triangle {
  position: absolute;
  right: 0;
}
.banner__content-image {
  width: 40%;
}
.banner__content .btn-arrow {
  width: 12px;
  height: 12px;
}
.banner__content .icon-goMarket {
  width: 146px;
  height: 145px;
}
.banner__content .icon-triangle {
  width: 94px;
  height: 94px;
}
.banner__content-image {
  width: 100%;
  position: relative;
}
.banner__content-image .icon-circle {
  position: absolute;
  width: 60px;
  height: 70px;
  right: 0;
}
.banner__content-image .icon-square {
  position: absolute;
  width: 720px;
  height: 720px;
  right: -120px;
  bottom: -40px;
}
.banner__streamer {
  position: relative;
  width: 1400px;
  margin: 100px 0;
  right: 80px;
}
.banner__streamer #streamer {
  width: 100%;
}

.box {
  margin-left: 10%;
  margin-right: 10%;
}

.wrap {
  max-width: 1440px;
  min-width: 600px;
  padding-top: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 30%;
  height: 30%;
}

.ourTeamBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  margin-left: 10%;
  margin-right: 10%;
}

.wrap {
  max-width: 1440px;
  min-width: 600px;
  padding-top: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards_wrap .card_item {
  padding: 15px 25px;
  width: 25%;
}

.cards_wrap .card_inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 5px;
  padding: 30px 10px 3px;
  min-width: 160px;
  min-height: 180px;
  max-height: 300px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.card_inner .imgDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card_inner img {
  width: 65%;
}

.card_inner .content {
  margin: 15px 10px;
}

.card_inner .header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.card_inner .text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: gray;
}

h2 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1440px) {
  .cards_wrap .card_item img {
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  .cards_wrap .card_item img {
    width: 80%;
  }
}
@media screen and (max-width: 568px) {
  .cards_wrap .card_item img {
    width: 100%;
  }
}
.info {
  margin-top: 8vh;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  gap: 2vw;
  background-color: #f6f6f6;
  padding: 3vh;
}
.info-title {
  width: 33%;
  font-size: 30px;
}
.info-title h2:first-child {
  margin: 0;
  color: #666;
}
.info-title h2:last-child {
  margin: 0;
  color: #2981b8;
}
.info-form {
  display: flex;
  flex-direction: column;
}
.info-form h2 {
  margin: 0;
  font-weight: normal;
  color: #666;
}
.info-form p {
  margin-top: 1vh;
  color: #999;
}
.info-form .form {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-form .form span {
  color: #cf3b3b;
}
.info-form .form label {
  color: #6a6d70;
}
.info-form .form input::placeholder {
  color: #33363a;
}
.info-form .form #name {
  margin-top: 5px;
  display: block;
  width: 350px;
  height: 30px;
}
.info-form .form #postcode {
  width: 130px;
  height: 30px;
  margin: 5px 8px 0 0;
}
.info-form .form #city {
  width: 200px;
  height: 30px;
}
.info-form .form #street {
  width: 220px;
  height: 30px;
  margin: 5px 20px 0 0;
}
.info-form .form #no {
  width: 98px;
  height: 30px;
  margin-bottom: 40px;
}
.info-form .form button {
  background-color: #00a6ef;
  border: none;
  width: 190px;
  height: 50px;
  color: white;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  position: relative;
  padding: 4vh 2vw;
  background-color: #334873;
  height: 250px;
}
.footer-items {
  display: flex;
  gap: 60px;
}
.footer-items .footer-item h3 {
  color: #999;
  font-size: 14px;
}
.footer-items .footer-item p {
  color: white;
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 12px;
}
.footer #copyright {
  position: absolute;
  right: 40px;
  margin-top: 80px;
  color: #999;
  font-size: 14px;
}

.logos {
  overflow: hidden;
  position: relative;
}
.logos img {
  width: 98%;
  height: 50vh;
}
.logos-shadow {
  position: absolute;
  top: 10px;
  right: -400px;
  width: 599.58px;
  height: 652.85px;
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.2) 0%, rgba(84, 84, 212, 0.084) 100%);
  filter: blur(150px);
  border-radius: 233.5px;
  transform: matrix(-0.58, -0.81, -0.81, 0.58, 0, 0);
}

.hero {
  background: #ff676d;
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero h1 {
  text-align: center;
  padding-top: 80px;
  font-size: 40px;
  color: #fff;
}

.slide-row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}

.slide-col {
  width: 800px;
  height: 400px;
  position: relative;
}

.user-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.user-img img {
  height: 100%;
  border-radius: 10px;
}

.user-text {
  background: #2d3a59;
  width: 520px;
  height: 270px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #d3d4d6;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}

.user-text p {
  font-size: 18px;
  line-height: 24px;
}

.user-text h3 {
  margin: 35px 0 5px;
  color: #fff;
}

.container {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.active {
  width: 45px;
}

.testimonial {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #19191B;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.secondary-container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
