<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="info.css">
    <link rel="icon" type="image/png" href="">
    <meta name="description" content="">
</head>
<body>
    <div class="info">
        <div class="info-title">
            <div class="title">
                <h2>Get started with</h2>
                <h2>GoMarketing</h2>
            </div>
        </div>
        <div class="info-form" typeof="submit">
            <h2>Talk to us</h2>
            <p>Ready to take the digital marketing growth experience?</p>
            <form class="form" typeof="submit">
                <label for="name">
                    Name <span>*</span>
                    <input type="text" placeholder="John Miller" id="name">
                </label>

                <label>
                    Postal Code / City:
                    <br>
                    <input type="text" placeholder="12345" id="postcode">
                    <input type="text" placeholder="Maintown" id="city">
                </label>

                <label>
                    Street / No.:
                    <br>
                    <input type="text" placeholder="Maintown" id="street">
                    <input type="text" placeholder="1618" id="no">
                </label>

                <button type="submit">Submit</button>
            </form>

        </div>
    </div>
</body>
</html>