body {
  margin: 0;
  padding: 0;
  background-color: #19191b;
}

.wrap {
  padding-top: 5rem;
  width: 80%;
  margin: auto;
}

.ourTeamBox {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.rowBox {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5%;
  margin-bottom: 5%;
}

.imgBox {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 45%;
}

h2 {
  margin-top: 80px;
  font-size: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #f69306;
  margin-bottom: 30px;
}

.subHeader {
  font-size: 45px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  color: white;
}

p {
  margin: 0.5rem 0;
  font-size: 23px;
  line-height: 32px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 300;
  color: white;
  margin-bottom: 50px;
}

/* for ipad screens */
/* responsible for the effect 744px - 1024*/
@media only screen and (max-width: 1138px) and (min-width: 744px) {
  .rowBox {
    width: 100%;
  }
  img {
    /* width: 270px; */
    width: 90%;
  }
  .subHeader {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  p {
    margin: 0.3rem 0;
    font-size: 16px;
    line-height: 20px;
  }
}

/* transitional sizes */
@media only screen and (max-width: 840px) and (min-width: 744px) {
  .rowBox {
    gap: 2%;
  }
  img {
    width: 90%;
  }
  .content {
    width: 80%;
  }
}

/* phone sizes */
@media only screen and (max-width: 744px) {
  img {
    width: 90%;
  }

  .rowBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: none;
  }
  .subHeader {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .content {
    width: 80%;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }
}
