<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ourTeam.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&family=Readex+Pro:wght@200;400;700&family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <h2>Our Team</h2>

      <div class="ourTeamBox">
        <div class="rowBox">
          <div class="imgBox">
            <img draggable="false" src="rec2.png" alt="rec1" />
          </div>
          <div class="content">
            <div class="subHeader">We’re professional</div>
            <p>
              GO Marketing is a full-service digital marketing agency based in
              Sydney. Our team has a variety of talents specializing in design
              and digital marketing. The marketing process at our company is not
              just about developing a strategy. It’s about executing that
              strategy.
            </p>
          </div>
        </div>

        <div class="rowBox">
          <div class="imgBox">
            <img draggable="false" src="rec1.png" alt="rec1" />
          </div>
          <div class="content">
            <div class="subHeader">We’re experienced</div>
            <p>
              All of these people are very experienced and bring value to the
              table. They each have their own strengths and abilities, so our
              team handles the different aspects of marketing in a specialized
              way that is right for each client
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
