<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/swiper-bundle.min.css" />
    <link rel="stylesheet" href="CSS/scroll.css" />
    <title>Scroll</title>
  </head>

  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p>
            “Left has been using this web hosting service for over a year and
            impressed with the uptime and support. Website never gone down and
            the customer service always quick to help with any issues I have. I
            will certainly recommend their service!”
          </p>
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <br /><br />
          <img draggable="false" src="./images/scroll/img1.png" alt="img1" />
          <h3>Jane Smith</h3>
          <h5>Freelance Designer</h5>
        </div>
        <div class="swiper-slide">
          <p>
            “Centre been using this web hosting service for a few months now and
            overall it's been fine. The uptime has been good and I haven't had
            any major issues. The pricing is also reasonable. Nothing
            particularly stands out as exceptional, but it gets the job done.”
          </p>
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <br /><br />
          <img draggable="false" src="./images/scroll/img2.png" alt="img2" />
          <h3>Tom Williams</h3>
          <h5>Software Developer</h5>
        </div>
        <div class="swiper-slide">
          <p>
            “Right has been using this web hosting service for a few months and
            it's been nothing but problems. My website has gone down multiple
            times and the customer service has been unresponsive. Not recommend,
            this company."
          </p>
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <img
            draggable="false"
            class="vector"
            src="images/scroll/Vector.svg"
            alt="star"
          />
          <br /><br />
          <img draggable="false" src="./images/scroll/img3.png" alt="img3" />
          <h3>Michael Brown</h3>
          <h5>Online Entrepreneur</h5>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          600: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          961: {
            slidesPerView: 3,
            spaceBetween: 50,
          },
        },
      });
    </script>
  </body>
</html>
