<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scroll</title>
  <link rel="stylesheet" href="scroll.css">
</head>

<body>
  <div class="hero">
    <h1>Testimonials</h1>
    <div class="container">
      <div class="indicator">
        <span class="btn active"></span>
        <span class="btn"></span>
        <span class="btn"></span>
      </div>
      <div class="testimonial">
        <div class="slide-row" id="slide">
          <div class="slide-col">
            <div class="user-text">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure natus odit ab unde reiciendis neque?</p>
              <h3>Mona Lisa</h3>
              <p>Famous painting from centuries ago</p>
            </div>
            <div class="user-img">
              <img src="./images/img1.jpg" alt="img1">
            </div>
          </div>
          <div class="slide-col">
            <div class="user-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatem ullam quidem quas. Quis,
                nulla
                veniam.</p>
              <h3>Obama</h3>
              <p>Proud two-term POTUS</p>
            </div>
            <div class="user-img">
              <img src="./images/img2.jpg" alt="img2">
            </div>
          </div>
          <div class="slide-col">
            <div class="user-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, dignissimos aspernatur alias pariatur
                sapiente consequatur ratione mollitia?</p>
              <h3>Elizabeth II</h3>
              <p>Late Queen of the UK</p>
            </div>
            <div class="user-img">
              <img src="./images/img3.jpg" alt="img3">
            </div>
          </div>
        </div>
      </div>

    </div>

    <script src="./scroll.js"></script>

</body>

</html>