<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scroll</title>
  <link rel="stylesheet" href="scroll.css">
</head>

<body>
  <div class="testimonial__container">
    <div class="testimonial__text-container">
      <div class="testimonial__text">
        <p>“Left has been using this web hosting service for over a year and impressed with the uptime and
          support.
          Website never gone down and the customer service always quick to help with any issues I have. I
          will certainly recommend their service!”</p>
        <span class="testimonial__golden">&#9733;&#9733;&#9733;&#9733;&#9733;</span><br>
        <!-- added draggable='false' to all img -->
        <img draggable='false' src="./images/scroll/img1.png" alt="img1">
        <h3>Jane Smith</h3>
        <h5>Freelance Designer</h5>
      </div>
      <div class="testimonial__text">
        <p>“Centre been using this web hosting service for a few months now and overall it's been fine. The uptime has
          been
          good and I haven't had any major issues. The pricing is also reasonable. Nothing particularly stands out as
          exceptional, but it gets the job done.”</p>
        <span class="testimonial__golden">&#9733;&#9733;&#9733;&#9733;&#9733;</span><br>
        <img draggable='false' src="./images/scroll/img2.png" alt="img2">
        <h3>Tom Williams</h3>
        <h5>Software Developer</h5>
      </div>
      <div class="testimonial__text">
        <p>“Right has been using this web hosting service for a few months and it's been nothing but problems. My
          website has
          gone down multiple times and the customer service has been unresponsive. Not recommend, this company."
        </p>
        <span class="testimonial__golden">&#9733;&#9733;&#9733;&#9733;&#9733;</span><br>
        <img draggable='false' src="./images/scroll/img3.png" alt="img3">
        <h3>Michael Brown</h3>
        <h5>Online Entrepreneur</h5>
      </div>
    </div>
    <div class="testimonial__button-container">
      <button class="testimonial__prev">Prev</button>
      <button class="testimonial__next">Next</button>
    </div>
  </div>

  <script src="./scroll.js"></script>
</body>

</html>