<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="logos.css">
    <link rel="icon" type="image/png" href="">
    <meta name="description" content="">
</head>

<body>
    <div class="logos">
        <img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/ZMXQ07/28/78/ef/2878efd2221e4770befeefb6c5acb803/images/page_1/u200.png?pageId=f5eecd21-68f5-45fc-af6b-9d3f6ccb43b7"
            alt="logos">
    </div>
</body>

</html>