body {
  margin: 0;
  padding: 0;
  background-color: #19191b;
}

.ourInsightWrap {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ourInsightWrap .double-circle {
  position: absolute;
  left: -30px;
}

.ourInsightCards_wrap {
  display: flex;
  gap: 3.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 150px;
}

.card_item {
  flex-basis: 35%;
  max-width: 360px;
  width: 100%;
  border-radius: 5px;
}

.ourInsightCards_wrap .ourInsightCard_inner {
  flex-basis: 35%;
  border-radius: 6px;
  padding: 20px 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourInsightCards_wrap .ourInsightCard_inner:hover {
  background: rgba(255, 255, 255, 0.03);
}

.imgDiv {
  width: 85%;
  margin: auto;
}

.ourInsightCard_inner img {
  width: 100%;
}

.ourInsightCard_inner.content {
  margin: 15px 15px;
}

.ourInsightCardHeader {
  font-size: 28px;
  line-height: 32px;
  margin: 1rem 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
}

.date {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: #888888;
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.insightsText {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: #888888;
  font-weight: 200;
  line-height: 28px;
}

.ourInsightWrap .insightH2 {
  margin-top: 80px;
  padding-left: 25px;
  font-size: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #f69306;
  margin-bottom: 30px;
  line-height: 50px;
}

.domainInsightWrap {
  display: flex;
  flex-direction: row;
  margin: 40px;
}
.domainInsightImg {
  width: 50%;
}
.domainInsightPara {
  padding-left: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.insightsHeroImg {
  width: 100%;
}

.domainOurInsightCardHeader {
  font-size: 48px;
  line-height: 58px;
  margin: 1rem 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
}
/* web sizes & above */
@media screen and (min-width: 1442px) {
  .ourInsightWrap {
    width: 1442px;
  }
}
@media screen and (max-width: 1442px) {
  .ourInsightCards_wrap {
    justify-content: center;
  }
}
@media screen and (max-width: 1442px) and (min-width: 960px) {
  .ourInsightWrap {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .ourInsightCards_wrap {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
  }
  .ourInsightCards_wrap .card_item {
    flex-basis: 35%;
    width: 32vw;
    border-radius: 5px;
  }
  .ourInsightCard_inner {
    flex-basis: 35%;
    border-radius: 6px;
    padding: 0px;
    width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 960px) and (min-width: 720px) {
  .double-circle {
    display: none;
  }
  .ourInsightCards_wrap {
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* gap: 3.5rem; */
  }
  .ourInsightCards_wrap .card_item {
    width: 28vw;
    border-radius: 5px;
  }
  .ourInsightCard_inner {
    width: 28vw;
  }
}

@media screen and (max-width: 800px) {
  .domainInsightWrap {
    display: none;
  }
}

@media screen and (max-width: 900) {
  .domainInsightWrap {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .ourInsightCards_wrap .ourInsightCard_inner {
    width: 80vw;
  }
  .double-circle {
    display: none;
  }
  .ourInsightWrap .insightH2 {
    margin-top: 30px;
  }
  .domainInsightWrap {
    display: none;
  }
}

/* 
header */
.header {
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.header-logo img {
  width: 110px;
  height: 50px;
}

.header-hamburger_icon {
  display: none;
}

.header-nav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.header-nav .nav-active {
  font-weight: 800;
  letter-spacing: -0.500211px;
  color: #f69306;
}

.header-nav li a {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}

.header-nav li:nth-child(4) {
  margin-right: 14px;
}

@media screen and (max-width: 962px) {
  .header-nav {
    gap: 20px;
  }
  .header-nav li:nth-child(4) {
    margin-right: 0;
  }
}
@media screen and (max-width: 800px) {
  .header {
    padding: 0 6%;
  }
  .header-logo img {
    width: 90px;
    height: 40px;
  }
  .header-nav {
    display: none;
  }
  .header-hamburger_icon {
    display: block;
  }
}

/* social Media */
/* .socialMediaWrap {
} */
.sm {
  padding: 2.5vw;
}
.SMWrap {
  /* width: 80%; */
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
}

@media screen and (min-width: 1440px) {
  .SMWrap {
    width: 1440px;
    flex-wrap: none;
  }
  .sm {
    padding: 45px;
  }
}
