* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #19191B;
  cursor: url("../images/cursor.gif"), auto;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.blur {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline;
  z-index: 1;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  overflow-x: hidden;
}

.header {
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.header-logo img {
  width: 110px;
  height: 50px;
}
.header-hamburger_icon {
  display: none;
}
.header-nav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.header-nav .nav-active {
  font-weight: 800;
  letter-spacing: -0.500211px;
  color: #F69306;
}
.header-nav li a {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.header-nav li:nth-child(4) {
  margin-right: 14px;
}
@media screen and (max-width: 962px) {
  .header-nav {
    gap: 20px;
  }
  .header-nav li:nth-child(4) {
    margin-right: 0;
  }
}
@media screen and (max-width: 800px) {
  .header {
    padding: 0 6%;
  }
  .header-logo img {
    width: 90px;
    height: 40px;
  }
  .header-nav {
    display: none;
  }
  .header-hamburger_icon {
    display: block;
  }
}

.section__advertising .double-triangle {
  position: absolute;
  left: 100px;
}

.section__advertising {
  position: relative;
}

.advertising {
  padding: 60px 200px;
}
.advertising--title h2 {
  line-height: 1;
  font-weight: 600;
  font-size: 50px;
  font-style: italic;
  color: #F69306;
  margin-bottom: 49px;
}
.advertising--video {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.advertising--description {
  text-align: center;
}
.advertising--description-title {
  margin-bottom: 40px;
}
.advertising--description-title h3 {
  line-height: 1;
  font-size: 30px;
  font-weight: 600;
}
.advertising--description-paragraph p {
  line-height: 1.2;
  font-size: 20px;
  font-weight: 400;
}

/**********************************************************************************/
/*media below 962px(tablet)*/
/**********************************************************************************/
@media (max-width: 1200px) {
  .advertising--video img {
    height: 500px;
  }
}
@media (max-width: 962px) {
  .blur {
    display: none;
  }
  .section__advertising .double-triangle {
    position: absolute;
    top: 0;
    left: 30px;
  }
  .advertising {
    padding: 100px 10px;
  }
  .advertising--video img {
    height: 300px;
  }
  .advertising--description {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6980392157);
    margin-top: 10px;
    line-height: 20px;
  }
  .advertising--title h2 {
    font-size: 40px;
  }
}
/**********************************************************************************/
/*media below 600px(phone)*/
/**********************************************************************************/
@media (max-width: 600px) {
  .advertising {
    padding-top: 100px;
  }
  .section__advertising .double-triangle {
    left: 24px;
    top: 24px;
  }
  .advertising--video img {
    height: 175px;
  }
}
.footer {
  margin: 100px 0 50px;
  width: 100%;
  padding: 0 7%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo img {
  width: 110px;
  height: 50px;
}
.footer-nav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.footer-nav li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.footer-nav li:nth-child(3) {
  margin-right: 14px;
}
.footer-copyright a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1460px) {
  .footer-nav {
    gap: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    gap: 20px;
    flex-direction: column;
  }
  .footer-nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 430px) {
  .footer {
    margin-top: 0;
    align-items: center;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-copyright a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=advertising.css.map */
