<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="icon" type="image/png" href="">
    <meta name="description" content="">
</head>
<body>
    <div class="footer">
        <div class="footer-items">
            <div class="footer-item">
                <h3>NEBULA</h3>
                <p>HOME</p>
                <p>SUPPORT</p>
                <p>TERADATA COMPANY</p>
            </div>
            <div class="footer-item">
                <h3>LEGAL</h3>
                <p>TERMS OF USE</p>
                <p>PRIVACY POLICY</p>
                <p>LICENSE AGREEMENT</p>
                <p>PATENTS</p>
            </div>
            <div class="footer-item">
                <h3>CONNECT</h3>
                <p>TWITTER</p>
                <p>FACEBOOK</p>
            </div>
            <div class="footer-item">
                <h3>EMAIL</h3>
                <p>CONTACT@DOMAIN.COM</p>
                <p>SUPPORT@DOMAIN.COM</p>
                <p>SALES@DOMAIN.COM</p>
                <p>PR@DOMAIN.COM</p>
            </div>
        </div>
        <p id="copyright">® 2022-2023 Go Marketing Pty Ltd. All rights reserved.</p>
    </div>
</body>
</html>