* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #19191b;
  cursor: url("../images/cursor.gif"), auto;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 14vh;
}
.header-logo {
  height: 100%;
}
.header-logo img {
  height: 100%;
}
.header-menu {
  display: none;
}
.header-nav {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-nav .nav-active {
  font-weight: 800;
  letter-spacing: -0.500211px;
  color: #f69306;
}
.header-nav li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.header-nav li:last-child {
  padding: 22px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  background: #f69306;
  border-radius: 4px;
}
.header-nav li:last-child a {
  color: white;
}
@media screen and (max-width: 1200px) {
  .header .header-nav {
    gap: 20px;
  }
}
@media screen and (max-width: 1140px) {
  .header {
    padding: 0 6%;
  }
  .header .header-menu {
    display: block;
  }
  .header .header {
    display: flex;
    align-items: center;
  }
  .header-nav {
    display: none;
  }
  .header #hamburger {
    width: 32px;
  }
  .header #cancel {
    width: 28px;
    display: none;
  }
}

#extended-menu {
  width: 100vw;
  padding: 2vh 5vw 10vh;
  height: auto;
  z-index: 99;
  position: relative;
  left: 100vw;
  display: none;
}

.menu-items {
  margin-left: 22px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.menu-items li {
  font-size: 22px;
}

#menu-services {
  padding-left: 2vw;
  gap: 3vh;
  display: none;
  flex-direction: column;
}

.menu-btn {
  width: 160px;
  border-radius: 8px;
  border: none;
  background-color: #f69306;
  padding: 16px 0;
}

.services-child-menu {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}
.services-child-menu #drop-down {
  width: 32px;
}
.services-child-menu #drop-up {
  width: 32px;
  display: none;
}

.active {
  transform: translateX(-100vw);
}

.QnAContactUs {
  padding: 15px;
  background: #f2994a;
  border-radius: 4px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(360deg);
  }
  20% {
    transform: rotate(288deg);
  }
  40% {
    transform: rotate(216deg);
  }
  60% {
    transform: rotate(144deg);
  }
  80% {
    transform: rotate(72deg);
  }
  100% {
    transform: rotate(0);
  }
}
.triangle {
  position: relative;
}

@keyframes thick-triangle {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes thin-triangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.thick-triangle {
  width: 80px;
  height: 80px;
  transform-origin: 30px 40px;
  animation: thick-triangle infinite 10s linear;
}
@media screen and (max-width: 430px) {
  .thick-triangle {
    width: 40px;
    height: 40px;
    transform-origin: 15px 20px;
  }
}

.thin-triangle {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 30px 40px;
  animation: thin-triangle infinite 6s linear;
}
@media screen and (max-width: 430px) {
  .thin-triangle {
    width: 40px;
    height: 40px;
    transform-origin: 15px 20px;
  }
}

.plus-minus:hover {
  cursor: pointer;
}

.QnA--normal {
  display: none;
}

.minus-sign {
  display: none;
}

.QnA__title {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 600;
  font-size: 50px;
  line-height: 140%;
  color: #f69306;
}
.QnA__title .double-triangle .thin-triangle {
  position: absolute;
  top: -5%;
  left: 5%;
  animation: spin-reverse 5s infinite linear;
}
.QnA__title .double-triangle .thick-triangle {
  position: absolute;
  top: -5%;
  left: 5%;
  animation: spin 5s infinite linear;
}
.QnA__title .title--short {
  position: absolute;
  top: -5%;
  left: 10%;
}

.QnA__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5vh 10vw 10vh 10vw;
  gap: 16px;
}

.QnA__content .content__details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 20px;
  background: rgba(186, 186, 186, 0.5);
  box-shadow: 0 0 1px rgba(29, 33, 45, 0.2), 0 0 2px rgba(29, 33, 45, 0.08), 0 2px 4px rgba(29, 33, 45, 0.08);
  border-radius: 8px;
  align-self: stretch;
}
.QnA__content .content__details .QnA--heading {
  flex: 1;
  color: #f69306;
}
.QnA__content .content__details .content__details--heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.QnA__content .content__details .content__details--heading .plus-minus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10px;
}
.QnA__content .content__details .content__details--heading .plus-minus img {
  margin-left: 10px;
}
.QnA__content .content__details .QnA--normal {
  margin-top: 10px;
}
.QnA__content .content__details .QnA--normal p {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  letter-spacing: -0.006em;
}

@media (max-width: 962px) {
  .QnA__title h2 {
    font-size: 40px;
    line-height: 35px;
    margin-left: 10px;
  }
}
/**********************************************************************************/
/*media below 962px(tablet)*/
/**********************************************************************************/
@media (max-width: 962px) {
  .QnA__title h2 {
    font-size: 40px;
    line-height: 35px;
    margin-left: 10px;
  }
}
.footer {
  margin: 100px 0 50px;
  width: 100%;
  padding: 0 7%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo img {
  width: 110px;
  height: 50px;
}
.footer-nav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}
.footer-nav li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.footer-nav li:nth-child(3) {
  margin-right: 14px;
}
.footer-copyright a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1460px) {
  .footer-nav {
    gap: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    gap: 20px;
    flex-direction: column;
  }
  .footer-nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 430px) {
  .footer {
    margin-top: 0;
    align-items: center;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-copyright a {
    font-size: 14px;
  }
}

/*# sourceMappingURL=QnA.css.map */
