<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="ourServices.css" />
    <link rel="icon" type="image/png" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content="" />
  </head>
  <body>
    <!-- services&cases section -->
    <section class="section__services">
      <img
        draggable="false"
        class="double-triangle"
        src="./img/double-triangle.png"
        alt=""
      />
      <img draggable="false" class="cross" src="./img/cross.png" alt="" />
      <img draggable="false" class="blur" src="./img/blur.png" alt="" />
      <img
        draggable="false"
        class="ten--services-top"
        src="./img/ten.png"
        alt=""
      />
      <img
        draggable="false"
        class="ten--services-bottom"
        src="./img/ten.png"
        alt=""
      />

      <div class="services">
        <div class="services__title">
          <h2 class="title--short">Our Services</h2>
        </div>
        <div class="services__cards">
          <div class="card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img draggable="false" class="icon" src="./img/1.png" alt="" />
              </div>
              <h3>Development</h3>
              <p class="card__text">
                Create a platform with the best and coolest quality from us.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img draggable="false" class="icon" src="./img/2.png" alt="" />
              </div>
              <h3>UI/UX Designer</h3>
              <p class="card__text">
                We provide UI/UX Design services, and of course with the best
                quality
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img draggable="false" class="icon" src="./img/3.png" alt="" />
              </div>
              <h3>Graphic Designer</h3>
              <p class="card__text">
                We provide Graphic Design services, with the best designers.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img draggable="false" class="icon" src="./img/4.png" alt="" />
              </div>
              <h3>Motion Graphic</h3>
              <p class="card__text">
                Create a platform with the best and coolest quality from us
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img draggable="false" class="icon" src="./img/5.png" alt="" />
              </div>
              <h3>Photography</h3>
              <p class="card__text">
                We provide Photography services, and of course with the best
                quality
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img draggable="false" class="icon" src="./img/6.png" alt="" />
              </div>
              <h3>Videography</h3>
              <p class="card__text">
                Create a platform with the best and coolest quality from us.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Cases section -->
    <section class="section__cases">
      <img
        draggable="false"
        class="double-circle"
        src="./img/double-circle.png"
        alt=""
      />

      <div class="cases">
        <div class="cases__title">
          <h2 class="title--short">Our Cases</h2>
        </div>
        <div class="slider">
          <div class="slide slide--1">
            <div class="img--top">
              <img
                draggable="false"
                class="img-card"
                src="./img/squidCard.png"
                alt=""
              />
            </div>
            <div class="img--middle">
              <img
                draggable="false"
                class="img-card"
                src="./img/homeCard.png"
                alt=""
              />
            </div>
            <div class="img--bottom">
              <img
                draggable="false"
                class="img-card"
                src="./img/workCard.png"
                alt=""
              />
            </div>
          </div>
          <div class="slide slide--2">
            <div class="img--top">
              <img
                draggable="false"
                class="img-card"
                src="./img/test.png"
                alt=""
              />
            </div>
            <div class="img--middle">
              <img
                draggable="false"
                class="img-card"
                src="./img/test.png"
                alt=""
              />
            </div>
            <div class="img--bottom">
              <img
                draggable="false"
                class="img-card"
                src="./img/test.png"
                alt=""
              />
            </div>
          </div>
          <div class="slide slide--2">
            <div class="img--top">
              <img
                draggable="false"
                class="img-card"
                src="./img/test.png"
                alt=""
              />
            </div>
            <div class="img--middle">
              <img
                draggable="false"
                class="img-card"
                src="./img/test.png"
                alt=""
              />
            </div>
            <div class="img--bottom">
              <img
                draggable="false"
                class="img-card"
                src="./img/test.png"
                alt=""
              />
            </div>
          </div>
          <button class="slider__btn slider__btn--left"></button>
          <button class="slider__btn slider__btn--right"></button>
          <div class="dots"></div>
        </div>
      </div>
    </section>

    <script src="./script.js"></script>
  </body>
</html>
