<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="ourServices.css" />
    <link rel="icon" type="image/png" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content="" />
  </head>
  <body>
    <!-- services section -->
    <section class="section__services">
      <div class="double-triangle">
        <img
          class="thick-triangle"
          draggable="false"
          src="images/services&cases/thick-triangle.svg"
          alt="thick-triangle"
        />
        <img
          class="thin-triangle"
          draggable="false"
          src="images/services&cases/thin-triangle.svg"
          alt="thin-triangle"
        />
      </div>
      <img
        draggable="false"
        class="services__cross"
        src="./images/services&cases/cross.png"
        alt=""
      />
      <img
        draggable="false"
        class="blur"
        src="./images/services&cases/blur.png"
        alt=""
      />
      <img
        draggable="false"
        class="ten--services-top"
        src="./images/services&cases/ten.png"
        alt=""
      />
      <img
        draggable="false"
        class="ten--services-bottom"
        src="./images/services&cases/ten.png"
        alt=""
      />

      <div class="services">
        <div class="services__title">
          <h2 class="title--short">Our Services</h2>
        </div>
        <div class="services__cards">
          <div class="services__card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img
                  draggable="false"
                  class="icon"
                  src="./images/services&cases/1.png"
                  alt=""
                />
              </div>
              <h3>Development</h3>
              <p class="card__text">
                Create a platform with the best and coolest quality from us.
              </p>
            </div>
          </div>
          <div class="services__card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img
                  draggable="false"
                  class="icon"
                  src="./images/services&cases/2.png"
                  alt=""
                />
              </div>
              <h3>UI/UX Designer</h3>
              <p class="card__text">
                We provide UI/UX Design services, and of course with the best
                quality
              </p>
            </div>
          </div>
          <div class="services__card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img
                  draggable="false"
                  class="icon"
                  src="./images/services&cases/3.png"
                  alt=""
                />
              </div>
              <h3>Graphic Designer</h3>
              <p class="card__text">
                We provide Graphic Design services, with the best designers.
              </p>
            </div>
          </div>
          <div class="services__card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img
                  draggable="false"
                  class="icon"
                  src="./images/services&cases/4.png"
                  alt=""
                />
              </div>
              <h3>Motion Graphic</h3>
              <p class="card__text">
                Create a platform with the best and coolest quality from us
              </p>
            </div>
          </div>
          <div class="services__card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img
                  draggable="false"
                  class="icon"
                  src="./images/services&cases/5.png"
                  alt=""
                />
              </div>
              <h3>Photography</h3>
              <p class="card__text">
                We provide Photography services, and of course with the best
                quality
              </p>
            </div>
          </div>
          <div class="services__card">
            <div class="card__wrapper">
              <div class="card__icon">
                <img
                  draggable="false"
                  class="icon"
                  src="./images/services&cases/6.png"
                  alt=""
                />
              </div>
              <h3>Videography</h3>
              <p class="card__text">
                Create a platform with the best and coolest quality from us.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Cases section -->
    <section class="section__cases">
      <div class="double-circle">
        <img
          class="thick-circle"
          draggable="false"
          src="images/services&cases/thick-circle.svg"
          alt="thin-circle"
        />
        <img
          class="thin-circle"
          draggable="false"
          src="images/services&cases/thin-circle.svg"
          alt="thin-circle"
        />
      </div>

      <div class="cases">
        <div class="cases__title">
          <h2 class="title--short">Our Cases</h2>
        </div>
        <div class="slider">
          <div class="slide slide--1">
            <div class="img--top">
              <img
                draggable="false"
                class="img-card"
                src="./images/services&cases/squidCard.png"
                alt=""
              />
            </div>
            <div class="img--middle">
              <img
                draggable="false"
                class="img-card"
                src="./images/services&cases/homeCard.png"
                alt=""
              />
            </div>
            <div class="img--bottom">
              <img
                draggable="false"
                class="img-card"
                src="./images/services&cases//workCard.png"
                alt=""
              />
            </div>
          </div>
          <div class="slide slide--2">
            <div class="img--top">
              <img
                draggable="false"
                class="img-card"
                src="./images/services&cases/test.png"
                alt=""
              />
            </div>
            <div class="img--middle">
              <img
                draggable="false"
                class="img-card"
                src="./images/services&cases/test.png"
                alt=""
              />
            </div>
            <div class="img--bottom">
              <img
                draggable="false"
                class="img-card"
                src="./images/services&cases/test.png"
                alt=""
              />
            </div>
          </div>
          <div class="slide slide--2">
            <div class="img--top">
              <img
                draggable="false"
                class="img-card"
                src="./images/services&cases/test.png"
                alt=""
              />
            </div>
            <div class="img--middle">
              <img
                draggable="false"
                class="img-card"
                src="./images/services&cases/test.png"
                alt=""
              />
            </div>
            <div class="img--bottom">
              <img
                draggable="false"
                class="img-card"
                src="./images/services&cases/test.png"
                alt=""
              />
            </div>
          </div>
          <button class="slider__btn slider__btn--left"></button>
          <button class="slider__btn slider__btn--right"></button>
          <div class="dots"></div>
        </div>
      </div>
    </section>

    <script src="./script.js"></script>
  </body>
</html>
