<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="ourServices.css" />
    <link rel="icon" type="image/png" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Readex+Pro:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content="" />
  </head>
  <body>
    <section class="random">
      <div class="block"></div>
    </section>
    <section class="section__services">
      <div class="services">
        <div class="services__title">
          <p>Our services</p>
        </div>
      </div>
    </section>
  </body>
</html>
