:root {
  font-size: 0.0625vw;
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 0.2336vw;
  }
}

$background-color: #19191b;
$title-color: #F69306;
$primary-font-color: #ffffff;
$secondary-font-color: #FFFFFFB2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #19191B;
  cursor: url("../../images/cursor.gif"), auto;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $primary-font-color;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  overflow-x: hidden;
}

//header
.header {
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 18vh;

  &-logo {
    height: 100%;

    & img {
      height: 100%;
    }
  }

  &-menu {
    display: none;
  }

  &-nav {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

    & .nav-active {
      font-weight: 800;
      letter-spacing: -0.500211px;
      color: #F69306;
    }

    & li a {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.7);
    }

    & li:last-child {
      padding: 22px 40px;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      background: #F69306;
      border-radius: 4px;

      & a {
        color: white;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .header-nav {
      gap: 20px;
    }
  }

  @media screen and (max-width: 1140px) {
    .header-menu {
      display: block;
    }
    padding: 0 6%;
    .header {
      display: flex;
      align-items: center;
    }
    &-nav {
      display: none;
    }

    & #hamburger {
      width: 32px;
    }
    & #cancel {
      width: 28px;
      display: none;
    }
  }
}

// graphic
::-webkit-scrollbar {
  width: 20.8rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 16rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.graphic .graphic__content {
  max-width: 1984rem;
  padding: 0;
  margin: 0 auto;
}

.graphic .text-center {
  text-align: center;
}

.graphic-slide .graphic-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.graphic-slider-control {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphic-slider-control .swiper-pagination {
  position: relative;
  width: 240rem;
  top: 20rem;
  text-align: center;
}

.graphic-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.graphic-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}

// other services
.graphic-slider-control1 {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphic-slider-control1 .swiper-pagination1 {
  position: relative;
  width: 240rem;
  top: 20rem;
  text-align: center;
}

.graphic-slider-control1 .swiper-pagination1 .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.graphic-slider-control1 .swiper-pagination1 .swiper-pagination-bullet-active {
  background: #fff;
}

// card title
.graphic-slide-title {
  text-align: center;
  font-size: 34rem;
  padding-bottom: 25rem;
  @media screen and (max-width: 500px) {
    font-size: 28rem;
    padding-bottom: 16rem;
  }
}

.graphic-slide {
  width: 592rem;
  height: 512rem;
  position: relative;
  background-color: #19191B;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid darkgrey;
  border-radius: 10px;
}

// image
.graphic-img {
  width: 550rem;
  height: 300rem;
}

// title
.graphic-heading {
  font-size: 48rem;
  color: #F69306;
  @media screen and (max-width: 500px) {
    font-size: 24rem;
  }
}

@media screen and (max-width: 500px) {
  .graphic-slide {
    width: 390rem;
    height: 300rem;
  }
  .graphic-img {
    width: 350rem;
    height: 190rem;
  }
  .graphic-slider-control .swiper-pagination {
    top: 5rem;
  }
  .graphic-slider-control1 .swiper-pagination1 {
    top: 5rem;
  }
  .graphic {
    margin-bottom: 60rem;
  }
}

.graphic {
  margin-bottom: 40rem;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 10vw 8vh 10vw;
  @media screen and (max-width: 500px) {
    padding-bottom: 4vh;
  }

  & img {
    width: 85%;
  }
}

.my-blog {
  display: flex;
  gap: 40rem;
  justify-content: center;
  margin: 0 8vw;
  align-items: center;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.my-blog:hover {
  background: rgba(255, 255, 255, 0.03);
}

.my-blog-img {
  width: 700rem;
  @media screen and (max-width: 500px) {
    width: 350rem;
  }
}

.my-blog-card {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.my-blog-card .date {
  color: #888888;
  font-size: 20rem;
  @media screen and (max-width: 500px) {
    font-size: 18rem;
  }
}

.my-blog-card .ourInsightCardHeader {
  color: #FFFFFF;
  font-size: 40rem;
  line-height: 60rem;
  @media screen and (max-width: 500px) {
    font-size: 24rem;
    line-height: 32rem;
  }
}

.my-blog-card .insightsText {
  color: #888888;
  font-size: 20rem;
  @media screen and (max-width: 500px) {
    font-size: 18rem;
  }
}

//Other services
.other {
  width: 100vw;
  margin-bottom: 140rem;
  @media screen and (max-width: 500px) {
    margin-bottom: 60rem;
  }
}

.other-title {
  font-size: 48rem;
  color: #F69306;
  padding: 64rem 160rem 64rem;
  @media screen and (max-width: 500px) {
    font-size: 24rem;
    padding: 0 0 30rem 42rem;
  }
}

.other-content {
  display: flex;
  justify-content: center;
}

.other-wrapper {
  display: flex;
  justify-content: center;
  gap: 100rem;
  width: 1400rem;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    gap: 40rem;
  }
}

.other-card {
  width: 333rem;
}

.other-card {
  & img {
    width: 333rem;
    margin-bottom: 20rem;
    @media screen and (max-width: 500px) {
      margin-bottom: 10rem;
    }
  }

  & p {
    font-size: 34rem;
    @media screen and (max-width: 500px) {
      font-size: 20rem;
    }
  }
}

// footer
.footer {
  margin: 100px 0 100px;
  width: 100%;
  padding: 0 7%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
      width: 120px;
      height: 120px;
    }
  }

  &__socialMedia {
    display: flex;
    list-style: none;
    gap: 10px;

    & img {
      width: 34px;
      height: 34px;
    }
  }

  &-nav {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;

    & li a {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
    }

    & li:nth-child(3) {
      margin-right: 14px;
    }
  }

  &-copyright a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  //新增
  &-email a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  //新增
  &-nav-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1460px) {
  .footer-nav {
    gap: 15px;
  }

}

@media screen and (max-width: 1200px) {
  .footer {
    gap: 20px;
    flex-direction: column;

    &-nav {
      justify-content: center;
      flex-wrap: wrap;

    }
  }
}

@media screen and (max-width: 430px) {
  .footer {
    margin-top: 0;
    align-items: center;

    &-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-copyright {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    //&-copyright a {
    //  font-size: 14px;
    //}
  }
}

// menu
#extended-menu {
  width: 100vw;
  padding: 0 6vw 8vh;
  height: auto;
  z-index: 99;
  position: relative;
  left: 100vw;
  display: none;
}

.menu-items {
  margin-left: 22px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2vh;

  & li {
    font-size: 20px;
  }
}

#menu-services {
  padding-left: 4vw;
  gap: 2vh;
  display: none;
  flex-direction: column;
}

.menu-btn {
  width: 160px;
  border-radius: 8px;
  border: none;
  background-color: #F69306;
  padding: 16px 0;
}

.services-child-menu {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;

  & #drop-down {
    width: 32px;
  }

  & #drop-up {
    width: 32px;
    display: none;
  }
}

.active {
  transform: translateX(-100vw);
}


.graphic__head {
  margin: 8vh 10vw;
  @media screen and (max-width: 1140px) {
    margin: 0 8vw 4vh 8vw;
  }
}

.graphic__head-wrapper {
  position: relative;
}

//double triangle
.double-triangle {
  position: absolute;
  left: -60px;
  bottom: -20px;
  @media screen and (max-width: 1140px) {
    display: none;
  }
}

@keyframes thick-triangle {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes thin-triangle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thick-triangle {
  width: 60px;
  height: 60px;
  transform-origin: 22px 30px;
  animation: thick-triangle infinite 10s linear;
}

.thin-triangle {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 22px 30px;
  animation: thin-triangle infinite 6s linear;
}

.plus-minus:hover {
  cursor: pointer;
}

.QnA--normal {
  display: none;
}

.minus-sign {
  display: none;
}

.QnA__title {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: 600;
  font-size: 50px;
  line-height: 140%;
  color: #f69306;

  .double-triangle .thin-triangle {
    position: absolute;
    top: -5%;
    left: 5%;
    animation: spin-reverse 5s infinite linear;
  }

  .double-triangle .thick-triangle {
    position: absolute;
    top: -5%;
    left: 5%;
    animation: spin 5s infinite linear;
  }

  .title--short {
    position: absolute;
    top: -5%;
    left: 10%;
  }
}

.QnA__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw;
  gap: 25px;
}

.QnA__content .content__details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 20px;
  background: rgba(186, 186, 186, 0.5);
  box-shadow: 0 0 1px rgba(29, 33, 45, 0.2),
  0 0 2px rgba(29, 33, 45, 0.08), 0 2px 4px rgba(29, 33, 45, 0.08);
  border-radius: 8px;
  align-self: stretch;

  .QnA--heading {
    flex: 1;
    color: $title-color;
  }

  .content__details--heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .plus-minus {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-left: 10px;

      img {
        margin-left: 10px;
      }
    }
  }

  .QnA--normal {
    margin-top: 10px;

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 167%;
      letter-spacing: -0.006em;
    }
  }
}

/* our projects */
.projects {
  margin: 80px 10vw;
  @media screen and (max-width: 500px) {
    margin-top: 10px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (max-width: 500px) {
    gap: 20px;
  }
}

.gallery-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.item-normal {
  width: 38vw;
  border-radius: 8px;
}

.ourInsightWrap {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ourInsightWrap .double-circle {
  position: absolute;
  left: -30px;
}

.ourInsightCards_wrap {
  display: flex;
  gap: 3.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

.ourInsightCards_wrap .card_item {
  flex-basis: 35%;
  max-width: 360px;
  width: 100%;
  border-radius: 5px;
}

.ourInsightCards_wrap .ourInsightCard_inner {
  flex-basis: 35%;
  border-radius: 6px;
  padding: 20px 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.ourInsightCards_wrap .ourInsightCard_inner:hover {
  background: rgba(255, 255, 255, 0.03);
}

.ourInsightCard_inner .imgDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
  margin: auto;
}

.ourInsightCard_inner img {
  width: 100%;
}

.ourInsightCard_inner.content {
  margin: 15px 15px;
}

.ourInsightCard_inner .ourInsightCardHeader {
  margin: 1rem 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 20rem;
  line-height: 24rem;
  @media screen and (max-width: 500px) {
    font-size: 24rem;
    line-height: 32rem;
  }
}

.ourInsightCard_inner .date {
  font-size: 20rem;
  font-family: "Inter", sans-serif;
  color: #888888;
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin: 0.5rem 0;
  @media screen and (max-width: 500px) {
    font-size: 18rem;
  }
}

.ourInsightCard_inner .insightsText {
  font-family: "Inter", sans-serif;
  color: #888888;
  font-weight: 200;
  line-height: 28px;
  font-size: 20rem;
  @media screen and (max-width: 500px) {
    font-size: 18rem;
  }
}

.ourInsightWrap .insightH2 {
  margin-top: 80px;
  padding-left: 25px;
  font-size: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #f69306;
  margin-bottom: 30px;
  line-height: 50px;
}

/* web sizes & above */
@media screen and (min-width: 1442px) {
  .ourInsightWrap {
    width: 1442px;
  }
}

@media screen and (max-width: 1442px) {
  .ourInsightCards_wrap {
    justify-content: center;
  }
}

@media screen and (max-width: 1442px) and (min-width: 960px) {
  .ourInsightWrap {
    width: 100%;
  }
  .ourInsightCards_wrap {
    gap: 2.8rem;
  }

  .ourInsightCards_wrap .card_item {
    flex-basis: 35%;
    max-width: 28vw;
    width: 100%;
    border-radius: 5px;
  }

  .ourInsightCards_wrap .ourInsightCard_inner {
    width: 30vw;
  }
}

@media screen and (max-width: 960px) and (min-width: 600px) {
  .double-circle {
    display: none;
  }
  .ourInsightWrap {
    width: 100%;
  }
  .ourInsightCards_wrap {
    gap: 2.8rem;
  }

  .ourInsightCards_wrap .card_item {
    flex-basis: 35%;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 400px) {
  .ourInsightCards_wrap .ourInsightCard_inner {
    width: 80vw;
  }
  .double-circle {
    display: none;
  }
  .ourInsightWrap .insightH2 {
    margin-top: 30px;
  }
}

.video {
  width: 85%;
}
