/////////////////////////////////////////////////////
/// ///////// GLOBAL///////////////////////////////
/// /////////////////////////////////////////////

$background-color: #19191b;
$title-color: #f69306;
$primary-font-color: #ffffff;
$secondary-font-color: #ffffffb2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #19191b;
  cursor: url("../images/cursor.gif"), auto;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $primary-font-color;
}

/////////////////////////////////////////////////////
/// ///////// HEADER///////////////////////////////
/// /////////////////////////////////////////////

.blur {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline;
  z-index: 1;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  overflow-x: hidden;
}

.header {
  box-sizing: border-box;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;

  &-logo {
    & img {
      width: 110px;
      height: 50px;
    }
  }

  &-hamburger_icon {
    display: none;
  }

  &-nav {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    & .nav-active {
      font-weight: 800;
      letter-spacing: -0.500211px;
      color: #f69306;
    }
    & li a {
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.7);
    }
    & li:nth-child(4) {
      margin-right: 14px;
    }
  }

  @media screen and (max-width: 962px) {
    &-nav {
      gap: 20px;
      & li:nth-child(4) {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: 800px) {
    padding: 0 6%;
    &-logo {
      & img {
        width: 90px;
        height: 40px;
      }
    }
    &-nav {
      display: none;
    }
    &-hamburger_icon {
      display: block;
    }
  }
}

/////////////////////////////////////////////////////
/// ///////// Advertising Service ////////////////////
/// /////////////////////////////////////////////////

.section__advertising .double-triangle {
  position: absolute;
  left: 100px;
}

.section__advertising {
  position: relative;
}

.advertising {
  padding: 60px 200px;

  &--title {
    h2 {
      line-height: 1;
      font-weight: 600;
      font-size: 50px;
      font-style: italic;
      color: $title-color;
      margin-bottom: 49px;
    }
  }

  &--video {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

  &--description {
    text-align: center;

    &-title {
      margin-bottom: 40px;

      h3 {
        line-height: 1;
        font-size: 30px;
        font-weight: 600;
      }
    }
    &-paragraph {
      p {
        line-height: 1.2;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

/* other services */
.services {
  margin: 100px 10px;
}

.services__title {
  text-align: start;

}
.otherServices__title h2 {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-style: italic;
  color: #f69306;
  margin-bottom: 49px;
  margin-left: 200px;
}

.otherServices__cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.otherServices__card {
  max-width: 360px;
  width: 100%;
  height: 298px;
  background-color: #19191b;
  border-radius: 5px;
  transition: all 0.3s;
}

.card__wrapper {
  margin: 40px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card__wrapper h3 {
  font-weight: 600;
  font-size: 28px;
}

.icon {
  font-size: 69px;
  margin-bottom: 20px;
}

.card__text {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6980392157);
  margin-top: 20px;
  font-weight: 400;
}
// @media screen and (min-width: 1600px) {
//   .services {
//     width: 1600px;
//     margin: auto;
//   }
// }


/**********************************************************************************/
/*media below 962px(tablet)*/
/**********************************************************************************/

@media (max-width: 1200px) {
  .advertising--video {
    img {
      height: 500px;
    }
  }

}

@media (max-width: 962px) {
  .blur {
    display: none;
  }

  .section__advertising .double-triangle {
    position: absolute;
    top: 0;
    left: 30px;
  }

  .advertising {
    padding: 100px 10px;
  }

  .advertising--video {
    img {
      height: 300px;
    }
  }

  .advertising--description {
    font-size: 16px;
    color: $secondary-font-color;
    margin-top: 10px;
    line-height: 20px;
  }

  .advertising--title {
    h2 {
      font-size: 40px;
    }
  }


  .services {
    margin: 100px 10px;
  }
  
  .otherServices__title h2 {
    font-size: 40px;
    line-height: 35px;
    margin-left: 10px;

  }
  
  .otherServices__cards {
    gap: 0.3rem;
  }
  
  .otherServices__card {
    max-width: 320px;
    width: 100%;
    height: 278px;
    background-color: #19191b;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .card__wrapper {
    margin: 40px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .card__wrapper h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;

  }
  
  .icon {
    height: 190px;
  }

}


/**********************************************************************************/
/*media below 500px(phone)*/
/**********************************************************************************/

@media (max-width: 500px) {
  .advertising {
    padding-top: 100px;
  }

  .section__advertising .double-triangle {
    left: 24px;
    top: 24px;
  }
  .advertising--video {
    img {
      height: 175px;
    }
  }
}

/////////////////////////////////////////////////////
/// ///////// FOOTER ////////////////////
/// /////////////////////////////////////////////////

.footer {
  margin: 100px 0 50px;
  width: 100%;
  padding: 0 7%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-logo {
    & img {
      width: 110px;
      height: 50px;
    }
  }
  &-nav {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    & li a {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
    }
    & li:nth-child(3) {
      margin-right: 14px;
    }
  }
  &-copyright a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (max-width: 1460px) {
  .footer-nav {
    //& li a {
    //  font-size: 14px;
    //}
    gap: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    gap: 20px;
    flex-direction: column;
    &-nav {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 430px) {
  .footer {
    margin-top: 0;
    align-items: center;
    &-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-copyright a {
      font-size: 14px;
    }
  }
}
