@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 20.8rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 16rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.graphic .graphic__content {
  max-width: 1984rem;
  padding: 0;
  margin: 0 auto;
}

.graphic .text-center {
  text-align: center;
}



//@media (max-width:1440px) {
//  #graphic {
//    padding: 112rem 0;
//  }
//}
//
//@media (max-width:500px) {
//  #graphic .graphic-slider {
//    height: 720rem;
//  }
//}

.graphic-slide .graphic-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.graphic-slider-control {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphic-slider-control .swiper-pagination {
  position: relative;
  width: 240rem;
  top: 20rem;
}

.graphic-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.graphic-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}

.graphic__content .graphic-slide h6 {
  font-size: 22rem;
  padding-bottom: 15rem;
}

.graphic-slide {
  width: 592rem;
  height: 512rem;
  position: relative;
  background-color: #19191B;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid darkgrey;
  border-radius: 10px;
}

// image
.graphic-img {
  width: 550rem;
  height: 300rem;
}

// title
.graphic .graphic-heading {
  font-size: 48rem;
  color: #F69306;
  padding: 64rem 80rem 64rem;
}

@media screen and (max-width: 500px) {
  .graphic .graphic-heading {
    font-size: 20rem;
    padding: 0 0 30rem 30rem;
  }
  .graphic-slide {
    & h6 {
      font-size: 18rem;
      margin-bottom: 0;
    }
    width: 390rem;
    height: 300rem;
  }
  .graphic-img {
    width: 350rem;
    height: 190rem;
  }
  .graphic-slider-control .swiper-pagination {
    top: 5rem;
  }
  .graphic {
    margin-bottom: 60rem;
  }
}