@import "graphic";
@import "header";
@import "footer";
@import "advertising";
@import "web";

:root {
  font-size: 0.0625vw;
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 0.2336vw;
  }
}

$background-color: #19191b;
$title-color: #f69306;
$primary-font-color: #ffffff;
$secondary-font-color: #ffffffb2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #19191b;
  cursor: url("../../images/cursor.gif"), auto;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $primary-font-color;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  overflow-x: hidden;
}
