<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="ourInsights.css" />
    <link rel="icon" type="image/png" href="" />
    <meta name="description" content="" />
  </head>
  <body>
    <div class="box">
    <div class="wrap">

        <h2>Our insights</h2>
      <div class="cards_wrap">
        <div class="card_item">
          <div class="card_inner">
            <div class="imgDiv">
                <img src="image.svg" alt="img">
            </div>
            <div class="content">
                <div class="header">
                    Notebook, Tablets
                </div>
                <div class="text">Browse through all available devices</div>
            </div>
          </div>
        </div>
        <div class="card_item">
            <div class="card_inner">
              <div class="imgDiv">
                  <img src="image.svg" alt="img">
              </div>
              <div class="content">
                  <div class="header">
                      Notebook, Tablets
                  </div>
                  <div class="text">Browse through all available devices</div>
              </div>
            </div>
          </div>
          <div class="card_item">
            <div class="card_inner">
              <div class="imgDiv">
                  <img src="image.svg" alt="img">
              </div>
              <div class="content">
                  <div class="header">
                      Notebook, Tablets
                  </div>
                  <div class="text">Browse through all available devices</div>
              </div>
            </div>
          </div>
          <div class="card_item">
            <div class="card_inner">
              <div class="imgDiv">
                  <img src="image.svg" alt="img">
              </div>
              <div class="content">
                  <div class="header">
                      Notebook, Tablets
                  </div>
                  <div class="text">Browse through all available devices</div>
              </div>
            </div>
          </div>
          <div class="card_item">
            <div class="card_inner">
              <div class="imgDiv">
                  <img src="image.svg" alt="img">
              </div>
              <div class="content">
                  <div class="header">
                      Notebook, Tablets
                  </div>
                  <div class="text">Browse through all available devices</div>
              </div>
            </div>
          </div>
          <div class="card_item">
            <div class="card_inner">
              <div class="imgDiv">
                  <img src="image.svg" alt="img">
              </div>
              <div class="content">
                  <div class="header">
                      Notebook, Tablets
                  </div>
                  <div class="text">Browse through all available devices</div>
              </div>
            </div>
          </div>

        
    </div>
  </div>
  </body>
</html>
