<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="ourInsights.css" />
    <link rel="icon" type="image/png" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap"
      rel="stylesheet"
    />
    <meta name="description" content="" />
  </head>
  <body>
    <div class="ourInsightWrap">
      <div class="double-circle">
        <img
          class="thick-circle"
          draggable="false"
          src="images/ourInsightsImg/thick-circle.svg"
          alt="thin-circle"
        />
        <img
          class="thin-circle"
          draggable="false"
          src="images/ourInsightsImg/thin-circle.svg"
          alt="thin-circle"
        />
      </div>
      <h2>Our Insights</h2>
      <div class="ourInsightCards_wrap">
        <div class="card_item">
          <div class="ourInsightCard_inner">
            <div class="imgDiv">
              <img src="./images/ourInsightsImg/img1.png" alt="img" />
              <div class="date">MAR 1, 2022</div>

              <div class="cardHeader">
                How to connect with your customers through social media
              </div>

              <div class="insightsText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium laudantium, eius quasi.
              </div>
            </div>
          </div>
        </div>
        <div class="card_item">
          <div class="ourInsightCard_inner">
            <div class="imgDiv">
              <img
                draggable="false"
                src="./images/ourInsightsImg/img2.png"
                alt="img"
              />
              <div class="date">MAR 1, 2022</div>

              <div class="cardHeader">SEO & SEM: What’s the Difference?</div>

              <div class="insightsText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium laudantium, eius quasi.
              </div>
            </div>
          </div>
        </div>
        <div class="card_item">
          <div class="ourInsightCard_inner">
            <div class="imgDiv">
              <img
                draggable="false"
                src="./images/ourInsightsImg/img3.png"
                alt="img"
              />
              <div class="date">MAR 1, 2022</div>

              <div class="cardHeader">How brands can capture new audience?</div>

              <div class="insightsText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium laudantium, eius quasi.
              </div>
            </div>
          </div>
        </div>
        <div class="card_item">
          <div class="ourInsightCard_inner">
            <div class="imgDiv">
              <img src="./images/ourInsightsImg/img4.png" alt="img" />
              <div class="date">MAR 1, 2022</div>

              <div class="cardHeader">
                Outdoor Advertising for Small Business
              </div>

              <div class="insightsText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium laudantium, eius quasi.
              </div>
            </div>
          </div>
        </div>
        <div class="card_item">
          <div class="ourInsightCard_inner">
            <div class="imgDiv">
              <img
                draggable="false"
                src="./images/ourInsightsImg/img5.png"
                alt="img"
              />
              <div class="date">MAR 1, 2022</div>

              <div class="cardHeader">
                How to Map the Client's Business Opportunities
              </div>

              <div class="insightsText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium laudantium, eius quasi.
              </div>
            </div>
          </div>
        </div>
        <div class="card_item">
          <div class="ourInsightCard_inner">
            <div class="imgDiv">
              <img
                draggable="false"
                src="./images/ourInsightsImg/img6.png"
                alt="img"
              />
              <div class="date">MAR 1, 2022</div>

              <div class="cardHeader">
                Out-of-Home Advertising Trends & Predictions for 2023
              </div>

              <div class="insightsText">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium laudantium, eius quasi.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
