<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="nav.css">
    <link rel="icon" type="image/png" href="">
    <meta name="description" content="">
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav">
            <li class="active">Home</li>
            <li>Services</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
        <button>简体中文</button>
    </nav>
</body>
</html>