<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="otherServices.css">
  <title>Other Services 2</title>
</head>
<body>
  <div class="otherServices2">
    <div class="headerContainer">
      <div class="svg">
        <img
          id="Polygon3"
          src="./Images/otherServices2/Polygon 3.png"
          alt="Polygon 3"
        />
        <img
          id="Polygon2"
          src="./Images/otherServices2/Polygon 2.png"
          alt="Polygon 2"
        />
      </div>
      <div class="header">Other Services</div>
    </div>

    <div class="otherServicesContent mySwiper">
      <div class="swiper-pagination"></div>
      <div class="service">
        <img
          src="./Images/otherServices2/Graphic Design.png"
          alt="Graphic Design"
        />
        <p>Graphic Design</p>
      </div>
      <div class="service">
        <img
          src="./Images/otherServices2/Advertising.png"
          alt="Advertising"
        />
        <p>Advertising</p>
      </div>
      <div class="service">
        <img
          src="./Images/otherServices2/Web Design.png"
          alt="Web Design"
        />
        <p>Web Design</p>
      </div>
    </div>
  </div>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
var swiper = new Swiper(".mySwiper", {
 slidesPerView: 1,
 spaceBetween: 10,
 pagination: {
   el: ".swiper-pagination",
   clickable: true,
 },
 breakpoints: {
   600: {
     slidesPerView: 2,
     spaceBetween: 20,
   },
   961: {
     slidesPerView: 3,
     spaceBetween: 50,
   },
 },
});
</script>
</body>
</html>